@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.logocadastro{
    margin: 0.5% auto 0 auto;
    display: block;
    height: 250px;
    width: 15%;
}

.cadastro-forms{
    margin: 3% auto auto auto;
    width: 40%;
    background-color: lightgray;
}

.cadastro-box{
    margin-left: 32%;
    margin-bottom: 2%;
}

.cadastrochecktext{
    font-family: Roboto;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    margin: 4%;
}

.cadastrocheckbox{
    display: inline-block;
}

.inputtext{
    display: inline-block;
    margin-left: 5px;
}

.inputfielddiv{
    margin-left: 5px;
    display: inline-block;
}

.inputfields{
    display: block;
    flex-direction: row;
    margin-bottom:16.1px;
}

.inputtextright{
    display: inline-block;
    justify-content: right;
    margin-left: 20%;
}

.inputfielddivright{
    display: inline-block;
    justify-content: right;
    margin-left: 5px;
}

.inputimg{
    margin-left: 4.5%;
}

.enviarcadastro{
    display: block;
    margin: 0 auto 0 auto;
    padding: 0.5%;
}