@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.adotantecard{
    margin: 3% auto auto auto;
    width: 27%;
    background-color: lightgray;
    padding-bottom: 0.3rem;
    border-radius: 10px;
}

.adotantecard img {
    border-radius: 10px;
    justify-content: center;
    margin: 2% 1% 2% 2.2%;
    width: 95%;
    justify-content: center;
}

.adotantefield{
    display: inline-block;
    background-color: rgb(231, 228, 228);
    margin-left: 12%;
    margin-right:12%;
    margin-bottom: 2%;
    width: 25%;

}

.adotantefield p {
    margin-left: 1px;
}

.adotanteesquerda{
    text-align: left;
}

.botoeslikedislike{
    margin-top: 3px;
    margin-left: 40%;
}

.botaodislike{
    display: inline-block;
    align-items: center;
    margin: auto auto;
    width: 10%;
    height: 50px;
}

.botaodislike img{
    border-radius: 60%;
    background-color: red;
    
}

.botaolike{
    display: inline-block;
    margin-left: 10%;
}

.botaolike img{
    border-radius: 60%;
    background-color: pink;
    
}