@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.backgroundCadastro{
    background-color: lightgray;
}

.logocadastro{
    margin: 5% auto 0 auto;
    display: block;
    height: 80%;
    width: 80%;
}

.backgroundContainer{
    margin-top: 2%;
}

.cadastro-forms{
    margin-left: 1%;
}


.cadastrochecktext{
    font-family: Roboto;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    margin: 4%;
}

.cadastrocheckbox{
    display: inline-block;
}

.inputtext{
    display: inline-block;
    margin-left: 5px;
}

.inputfielddiv{
    margin-left: 5px;
    display: inline-block;
}

.inputfields{
    display: block;
    margin-bottom:4%;
}

.enviarcadastro{
    display: block;
    margin: 0 auto 0 auto;
    padding: 0.5%;
}