@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.centerlogo{
    margin: 3% auto 1% auto;
    display: block;
    width: 20%;
}

.centerrow{
    justify-content: center;
}

.jose1{
    border-radius: 3%;
    background-color: lightgray;
}

.imagedog{
    border-radius: 3%;
    margin-top: 5%;
}

.textocard{
    margin-top: 1%;
    margin-left: 10px;
    font-family: Roboto;
    text-align: center;
    font-weight: bold;
}
